body {
    background-color: black;
}
.container {
    width: 70%;
    min-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.kanban-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;
    margin-top: 3%;
}

.kanban-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
}

.kanban-heading .form-control{
    display: inline-block;
    height: 50px;
    margin-left: -30%;
    font-size: 18px;
}
.kanban-heading .btn-lg {
    padding: 0.9rem 2rem;
    font-size: 2.05rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.kanban-block {
    padding: 0.6rem;
    width: 30.5%;
    min-width: 14rem;
    min-height: 4.5rem;
    border-radius: 0.3rem;
}

#todo {
    background-color: #007bff;
}

#inprogress {
    background-color: #ffaf00;
}

#done {
    background-color: #28a745;
}

.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}

#todo_list, #inprogress_list , #done_list{
    min-height: 20px;
    list-style-type: none;
    margin-left: 5px;
    float: left;
    margin-right: 10px;
    width: 300px;
}
#todo_list li, #inprogress_list li, #done_list li {
    margin-top: 6px;
    padding: 5px;
    font-size: 1.2em;
    width: 200px;
}
